* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #3e4560;
	color: white;
}

label {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

input {
	margin-bottom: 25px;
}

input[type='text'] {
	font-size: 16px;
	padding: 7px 10px;
	border-radius: 3px;
	box-shadow: 0 1px 2px black;
	border: none;
}

.box {
	height: 100px;
	width: 100%;
	background-color: #c6d5ac;
	margin-bottom: 25px;
}

.title {
	text-align: center;
	margin: 50px 0;
	color: #c6d5ac;
	font-size: 54px;
}

.container {
	padding: 0 50px;
}

#mainContent {
	display: flex;
	justify-content: space-evenly;
}

#input {
	flex-grow: 1;
}

#output {
	flex-grow: 1;
}
